@import './variables.styl'

html,
body
  height 100%
  margin 0
  padding 0
  color main-text-color

body
  background-color main-background-color
  font .8em/normal 'Open Sans', sans-serif

a, button
  color main-text-color

h1, h2, h3, h4, h5, p
  margin 0

*
  box-sizing border-box
