@import '../../../styles/variables.styl'

.game-page
  &__header
    overflow hidden

  &__title
    text-transform uppercase
    float left
    line-height 1.8em

  &__action-button
    float right

  &__content
    overflow hidden

  &__column
    width 50%
    float left
    padding 2em

  &__sub-title
    text-transform uppercase

  &__value
    font-size 10em
    font-weight bold
